p(class="oauth")
  a(href="#" class="logged-out" ng-show="show=='logged-out'" ng-click="login()") {{text}}
  a(href="#" class="logged-in"  ng-show="show=='logged-in'"  ng-click="logout()") Logout {{profile.email}}
  a(href="#" class="denied"     ng-show="show=='denied'"     ng-click="login()") Access denied. Try again.
